.txt-25 {
  font-size: 25px;
}
.txt-20 {
  font-size: 20px;
}
.txt-16 {
  font-size: 16px;
}
.txt-13 {
  font-size: 13px;
}
.txt-info {
  color: #8b8b8b;
}
.txt-semi-bold {
  font-weight: 600;
}

.mb-8 {
  margin-bottom: 8px;
}
.mb-24 {
  margin-bottom: 24px;
}

/* celular */

@media (max-width: 600px) {
  .hide--mobile {
    display: none !important;
  }
}

/* tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  .hide--tablet {
    display: none !important;
  }
}
/* desktop */
@media (min-width: 1025px) {
  .hide--desktop {
    display: none !important;
  }
}
